body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0px;
}

header {
  font-family: Rajdhani, Arial, sans-serif;
  background-color: #fff;
  box-shadow: 0px 0px 10px black;
  padding: 10px;
  padding-left: 25px;
}

#headerDiv {
  display: flex;
}

#headerDiv img {
  margin-right: 25px;
}

header h2 {
  color: #275d38;
}

#navBar {
  font-family: Rajdhani semibold, Arial, sans-serif;
  margin-bottom: 25px;
  color: #275d38;
}

#navBar ul {
  margin: auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;

}

#navBar ul li {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline;
}

#navBar ul li:hover {
  background-color: #1e482c;
  color: #fff;
}

.active {
  background-color: #275d38;
  color: #fff;
}

hr {
  border-bottom: 3px solid #275d38;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  margin: 0px;
  padding: 0px;
}

form {
  box-shadow: 0px 0px 10px black;
  background-color: #fff;
  width: 50%;
  margin: auto;
}

form img {
  width: 100%;
}

#formDiv {
  padding: 25px;
}

select {
  padding: 5px 5px;
  box-sizing: border-box;
  width: 150px;
}

input {
  padding: 5px 10px;
  box-sizing: border-box;
  width: 150px;
}

button {
  color: white;
  padding: 5px 15px 5px 15px;
  background-color: #35712c;
  border-radius: 10px;
  border: none;
  margin-top: 15px;
}

:disabled {
  color: black;
  padding: 5px 15px 5px 15px;
  background-color: #b7dab2;
  border-radius: 10px;
  border: 1px solid black;
}

form label {
  margin-top: 15px;
  margin-bottom: 5px;
  display: inline-block;
}

form textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

#logDiv p {
  height: fit-content;
  word-wrap: break-word;
}

h3 {
  margin-bottom: 5px;
}

#logDiv {
  background-color: #e8e8e8;
  border-radius: 2px;
  border: 1px solid black;
  padding: 25px;
  margin-bottom: 10px;
  overflow: auto;
}

.hidden {
  display: none;
}

.warning {
  color: red;
}
