body {
  background-color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0px;
}

header {
  font-family: Rajdhani, Arial, sans-serif;
  background-color: #fff;
  box-shadow: 0px 0px 10px black;
  padding: 10px;
  padding-left: 25px;
  position: relative;
  z-index: 2;
}

#headerDiv {
  display: flex;
}

#headerDiv img {
  margin-right: 25px;
}

header h2 {
  color: #275d38;
}

#navBar {
  font-family: Rajdhani semibold, Arial, sans-serif;
  margin-bottom: 25px;
  color: #275d38;
}

#navBar ul {
  margin: auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

#navBar ul li {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline;
}

#navBar ul li:hover {
  background-color: #1e482c;
  color: #fff;
}

.active {
  background-color: #275d38;
  color: #fff;
}

hr {
  border-bottom: 3px solid #275d38;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  margin: 0px;
  padding: 0px;
}

form {
  box-shadow: 0px 0px 10px black;
  background-color: #fff;
  width: 50%;
  margin: auto;
}

form img {
  width: 100%;
  max-height: 200px;
  opacity: 80%;
}

#formDiv {
  padding: 25px;
  display: flex;
}

.third-width {
  width: 33%;
}

.two-third-width {
  width: 67%;
  padding-left: 25px;
  margin-left: 25px;
  border-left: 2px solid #8e8c89;
}

.h-flex {
  display: flex;
  flex-direction: row;
}

.half-width {
  width: 50%;
}

select {
  padding: 5px 5px;
  box-sizing: border-box;
  width: 150px;
}

input {
  padding: 5px 10px;
  box-sizing: border-box;
  width: 150px;
}

button {
  color: white;
  padding: 5px 15px 5px 15px;
  background-color: #35712c;
  border-radius: 10px;
  border: none;
  margin-top: 15px;
}

:disabled {
  color: black;
  padding: 5px 15px 5px 15px;
  background-color: #b7dab2;
  border-radius: 10px;
  border: 1px solid black;
}

form label {
  margin-top: 15px;
  margin-bottom: 5px;
  display: inline-block;
}

form textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
}

#logDiv p {
  height: fit-content;
  word-wrap: break-word;
}

h3 {
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 100;
}

#logDiv {
  background-color: #e8e8e8;
  border-radius: 2px;
  border: 1px solid black;
  padding: 25px;
  margin-bottom: 10px;
  overflow: auto;
}

.hidden {
  display: none;
}

.warning {
  color: red;
}

@media only screen and (max-width: 1000px) {
  #formDiv {
    flex-direction: column;
  }

  .third-width {
    width: 100%;
  }

  .two-third-width {
    width: 100%;
    padding-left: 0px;
    margin-left: 0px;
    border-left: 0px;
    border-top: 2px solid #8e8c89;
    margin-top: 25px;
    padding-top: 10px;
  }
}

.darkMode {
  background-color: #757677;
}

.darkMode header {
  background-color: #434344;
}

.darkMode header h2 {
  color: #4ba23f;
}

.darkMode header img {
  display: none;
}

.darkMode nav {
  background-color: #434344;
}

.darkMode nav li {
  color: #4ba23f;
}

.darkMode #navBar .active {
  color: #fff;
  background-color: #4ba23f;
}

.darkMode #navBar hr {
  border-bottom: 3px solid #4ba23f;
}

.darkMode form {
  background-color: #434344;
  color: #fff;
}

.darkMode form select {
  background-color: #e8e8e8;
}

.darkMode form textarea {
  background-color: #e8e8e8;
}
